//

.divider {
    border-top: 1px solid #c0c1c4;
}

.divider-rounded {
    border-top: 3px solid #c0c1c4;
    border-radius: 5px;
}

.header-mirror {
    padding-bottom: 125px;
    background-color: #fff;
    border: none;

    &:before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background: rgba(64,72,82,.8);
        transition-duration: .3s;
    }

    &:after {
        content: "";
        display: block;
        height: 100px;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        -webkit-box-shadow: hsla(0,0%,100%,.9) 0 1px 0 inset;
        box-shadow: inset 0 1px 0 hsla(0,0%,100%,.9);
        background-image: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.8)),to(#fff));
        background-image: linear-gradient(180deg,hsla(0,0%,100%,.8),#fff);
    }
}

.title-multiline {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: white;

    > span {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 18px;
        font-weight: 600;
        opacity: .6;
    }
}

.title {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.searchResult {
    position: relative;
    padding: 15px;
}

@import "~intro.js/introjs.css";
